@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.modal-backdrop {
	@apply overflow-y-auto;
}

@font-face {
	font-family: 'Effra Regular';
	src: url('/fonts/Effra-Regular.ttf');
}

:root [data-theme='tfl'] {
	--theme-font-family-base: 'Effra Regular', sans-serif;
	--theme-font-family-heading: 'Effra Regular', sans-serif;
}
