@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme='tfl'] {
    --theme-font-family-base: 'Roboto', sans-serif;
    --theme-font-family-heading: 'Roboto', sans-serif;
}

*, html, body {
  font-family: 'Roboto', sans-serif;
}
